<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Peoples</title>
    
</head>
<body>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName()} + ', ' + ${person.getAge()}"></a>
</div>
<br/>
<hr/>
<!--<a href="/people/new">Create new person</a>-->
<form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="Create new person">
</form>
</body>
</html>